Repository smcrowley8/myAES: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, isort, black, mypy, flake8, circleci-config

codespell:
  name: Spell-check Python files (codespell)
  entry: codespell
  language: python
  additional_dependencies:
  - codespell==2.0.0

isort:
  name: Sort Python imports (isort)
  entry: isort
  language: python
  additional_dependencies:
  - isort==5.9.3

black:
  name: Format Python (black)
  entry: black
  language: python
  additional_dependencies:
  - black==21.9b0

mypy:
  name: Type Check Python (mypy)
  entry: mypy
  language: python
  additional_dependencies:
  - mypy==0.910

flake8:
  name: Lint Python (flake8)
  entry: flake8
  language: python
  additional_dependencies:
  - flake8==3.9.2
  - flake8-import-order>=0.18,<0.19
  - flake8-print>=3.1.4,<4

circleci-config:
  name: Pack CircleCI config
  entry: .githooks/pre-commit-scripts/circleci.sh
  language: script

udpating CCI command for getting github PR info
  .circleci/commands/get-pr-branch.yml
  .circleci/config.yml
Due: circleci-config

removed github PR info command for now
  .circleci/config.yml
  .circleci/jobs/build-test.yml
Due: circleci-config

test command for CLI added with CCI job
  .circleci/commands/restore-test-cache.yml
  .circleci/commands/save-test-cache.yml
  .circleci/config.yml
  .circleci/jobs/build-test.yml
  .circleci/jobs/package-test.yml
  myAES/AES/AES.py
  myAES/GaloisField/BinaryGaloisFeild.py
  myAES/main.py
Due: codespell, isort, black, mypy, flake8, circleci-config

fixed CCI stuff for testing package
  .circleci/config.yml
  .circleci/jobs/package-test.yml
  .circleci/workflows/pull-request-tests.yml
Due: circleci-config

fixed CCI stuff for testing package
  .circleci/config.yml
  .circleci/workflows/pull-request-tests.yml
Due: circleci-config

fix mispelling of cache in save cache command
  .circleci/commands/save-test-cache.yml
  .circleci/config.yml
Due: circleci-config

removed version bumping until bash command fully functional
  .circleci/config.yml
  .circleci/jobs/build-test.yml
Due: circleci-config

fix typo in CLI entrypoint
  myAES/main.py
  pyproject.toml
Due: codespell, isort, black, mypy, flake8

hotfix
  setup.cfg
Due: none

added myAES as a script in pyproject
  poetry.lock
  pyproject.toml
Due: none

restructure package
  .circleci/config.yml
  .circleci/jobs/package-test.yml
  .flake8
  myAES/AES.py
  myAES/AES/__init__.py
  myAES/BinaryGaloisFeild.py
  myAES/GaloisField/__init__.py
  myAES/main.py
  pyproject.toml
Due: codespell, isort, black, mypy, flake8, circleci-config

update
  myAES/BinaryGaloisFeild.py
  pyproject.toml
Due: codespell, isort, black, mypy, flake8

fix CCI package call
  .circleci/config.yml
  .circleci/jobs/package-test.yml
  pyproject.toml
Due: circleci-config

no more pedantic...
  myAES/BinaryGaloisFeild.py
  poetry.lock
Due: codespell, isort, black, mypy, flake8

refactor click types in CLI
  myAES/main.py
Due: codespell, isort, black, mypy, flake8

fix click syntax for adding CLI commands to group
  myAES/main.py
Due: codespell, isort, black, mypy, flake8

added pipefail for bash in CCI
  .circleci/commands/get-pr-branch.yml
  .circleci/config.yml
  .circleci/jobs/package-test.yml
Due: circleci-config

change test command for actual package
  .circleci/config.yml
  .circleci/jobs/package-test.yml
  myAES/main.py
Due: codespell, isort, black, mypy, flake8, circleci-config

syntax fix
  .circleci/config.yml
  .circleci/jobs/package-test.yml
Due: circleci-config

added docs
  .githooks/pre-commit-scripts/common.sh
  .githooks/pre-commit-scripts/cruft-check.sh
  .gitignore
  .pre-commit-config.yaml
  docs/AES.html
  docs/BinaryGaloisFeild.html
  docs/index.html
  docs/main.html
  myAES/AES.py
  poetry.lock
  pyproject.toml
Due: codespell, isort, black, mypy, flake8

changes
  tests/Gf2_mock.py
  tests/test_backend.py
  tests/test_unit.py
Due: none

restructure inint for AES docs
  .circleci/commands/bump-branch-version.yml
  .githooks/pre-commit-scripts/pdoc-gitpages.sh
  .pre-commit-config.yaml
  docs/AES.html
  docs/BinaryGaloisFeild.html
  docs/index.html
  docs/main.html
  myAES/AES.py
Due: codespell, isort, black, mypy, flake8, circleci-config

restructure inint for AES docs
  .githooks/pre-commit-scripts/pdoc-gitpages.sh
  docs/myAES/AES.html
  docs/myAES/BinaryGaloisFeild.html
  docs/myAES/index.html
  docs/myAES/main.html
Due: none

restructure inint for AES docs
  .githooks/pre-commit-scripts/pdoc-gitpages.sh
  docs/AES.html
  docs/BinaryGaloisFeild.html
  docs/index.html
  docs/main.html
  myAES/AES.py
Due: codespell, isort, black, mypy, flake8

fixed bad pytest unit test
  tests/test_unit.py
Due: none

Path conditions:
  codespell: any of: \.py$, but not: tests/.*$
  isort: any of: \.py$, but not: tests/.*$
  black: any of: \.py$, but not: tests/.*$
  mypy: any of: \.py$, but not: tests/.*$
  flake8: any of: \.py$, but not: tests/.*$
  circleci-config: any of: ^\.circleci/, but not: tests/.*$
